.container{
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    height: 900px;
    color: white;
    background-color: rgb(49, 49, 197)
       
    
}
a{
    color: white;
    font-size: 30px;
}

h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 16px ;
    background-color: rgb(122, 98, 98);
    border-radius: 10px;
}
ul{
    list-style: square;
}
